<div class="top-nav">
    <div class="orgname-container">
        <img src="/images/gdsc.png">
        <a href ="/">
            Google Developers Student Clubs — MMS Admin
        </a>
    </div>
    <div class = "top-nav-button-group-container">
        <a href="/members">
            <div class="members-btn">
                Members
            </div>
        </a>
        <a href="/events">
            <div class = "events-btn">
                Events
            </div>
        </a>
        {{#if isLoggedIn}}
            <a href="/logout">
                <div class="logout-btn">Logout</div>
            </a>
        {{else}}
            <a href="/login">
                <div class="login-btn">Login</div>
            </a>
        {{/if}}
    </div>
</div>