<div class="top-nav">
    <div class="orgname-container">
        Google Developers Student Clubs — MMS Admin
    </div>
    <div class = "top-nav-button-group-container">
        <a href="/members">
            <div class="members-btn">
                Members
            </div>
        </a>
        <a href="/events">
            <div class = "events-btn">
                Events
            </div>
        </a>
        <a href="/login">
            <div class = "logout-btn">
                Logout
            </div>
        </a>
    </div>
</div>
