
    {{>top-nav}}
    
    <div class="container">
        <div id="main-header">
            <h2>Attendees</h2>
            <div>
                <button>+ New Event</button>
                <select name="event-name" id="event-name">
                    <option value="GDSC Dev Fest">GDSC Dev Fest</option>
                    <option value="Event Name 2">Event Name 2</option>
                </select>
            </div>
        </div>
        <div>
            <button>Add User</button>
            <button>Pending Reports</button>
        </div>
        <div class="content">      
            <div class="left">
                <div class="search">
                    <input placeholder="Find by name"> 

                    <button>Search</button>
                    <select name="id-num" id="id-num">
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select name="position" id="position">
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                    <select name="status" id="status">
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                            <tr>
                                <td>Boyer, Tristan</td>
                                <td>boyer_tristan@dlsu.edu.ph</td>
                                <td>officer</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="event-tracker">
                <div class="event-header">
                    <div class="event-name">
                        <span>GDSC Dev Fest</span>
                    </div>
                    <button class="edit-button">EDIT</button>
                </div>   
                <div id="event-type">
                    Event Type
                </div>
                <div class="event-body">
                    <div class="event-details">
                        <div class="info-item">
                            <span class="label">Date</span>
                            <span class="value">MM/DD/YYYY</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Venue</span>
                            <span class="value">Room, Building</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Time</span>
                            <span class="value">HH:MM AM/PM</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Attendees Count</span>
                            <span class="value">####</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Project Head</span>
                            <span class="value pending">John Smith</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
