
<div class="main-container">
    <!--TOP NAV-->
    {{>top-nav}}

    <!--Welcone Title-->
    <div class="mms-container">
        <div class = "mms-title">
            Member Management System
        </div>
        <div class="welcome-title">
            Welcome, Admin USER
        </div>
    </div>

    <!--Main Buttons-->
    <div class="main-btn-container">
        <div class="officers-btn-container">
            <a href="/officer">
            <div>
                Officers
            </div>
            </a>
            <!--TODO: PUT ICON HERE-->
        </div>
        <div class="events-btn-container">
            <a href="/officer">
            Events
            </a>
            <!--TODO: PUT ICON HERE-->
        </div>
        <div class="members-btn-container">
            <a href="/members">
            Members
            </a>
            <!--TODO: PUT ICON HERE-->
        </div>
    </div>
</div>
