
<div class="main-container">
    <!--TOP NAV-->
    {{> top-nav isLoggedIn=isLoggedIn}}

    <!--Welcone Title-->
    <div class="mms-container">
        <div class = "mms-title">
            Member Management System
        </div>
        <div class="welcome-title">
            Welcome, {{userPosition}} {{userName}}
        </div>
    </div>

    <!--Main Buttons-->
    <div class="main-btn-container">
        <a href="/events">
            <div class="events-btn-container">
                Events
                <!--TODO: PUT ICON HERE-->
            </div>
        </a>
        <a href="/members"> <!-- FOR TESTING ONLY -->
            <div class="members-btn-container">
                Members
                <!--TODO: PUT ICON HERE-->
            </div>
        </a>
    </div>
</div>
