
<div class="main-container">
    <!--TOP NAV-->
    {{>top-nav}}

    <div class="mms-container">
        <div class = "mms-title">
            Member Management System
        </div>
        <div class="welcome-title">
            Welcome, Admin USER
        </div>
    </div>
</div>