<div class="hero">

  {{!-- <img class="logo" src="../public/images/logo.png" alt="‎ Logo Here!"> --}}

  <div class="card">
    
    <h1>Login Account</h1>

    <form class="card-form">

      <label for="email">DLSU Email:</label>
      <input type="text" id="email" name="email">
      <label for="password">Last Name:</label>
      <input type="password" id="password" name="password">

      <div class="optionals">
        <div class="left">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">‎ Remember Me</label>
        </div>
        <a href="#" class="right">Forget Password?</a>
      </div>

      <a class="temporary" type="submit" value="Login" href="/members">Login</a>

    </form>
    
  </div>
        
</div>
