    <div class="hero">
        <img class="logo" src="/images/gdsc-logo.png" alt="‎ Logo Here!">

        <div class="card">
            <h1>Login Account</h1>

            <form class="card-form" action="/login-attempt" method="POST">
                <label for="email">DLSU Email:</label>
                <input type="text" id="email" name="email" required="true">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required="true">

                <!-- Error message container -->
                <div id="error-message" class="error-message"></div>
                
                <div class="optionals">
                    <div class="left">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">‎ Remember Me</label>
                    </div>
                </div>
                <button class="temporary" type="submit">Login</button>

            </form>
        </div>
    </div>

    <script>
        // Handle displaying server-side error message
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        
        if (errorMessage) {
            document.getElementById('error-message').textContent = errorMessage;
        }
    </script>