
{{>top-nav}}

<div id="add-user">
        <div class="add-content">
            <div class="add-user-header">
                <span id="add-img"><img src="images/add.png"></span>
                Adding User
            </div>   
            <div class="add-user-body">
                <form id="add-user-form">
                    <div id="add-user-details">
                        <div class="info-item">
                            <span class="label">Position</span>
                            <select name="position" id="position">
                                <option value="Member">Member</option>
                                <option value="Officer">Officer</option>
                            </select>
                        </div>
                        <div class="info-item">
                            <span class="label">First Name</span>
                            <input id="fName" placeholder="First Name">
                        </div>
                        <div class="info-item">
                            <span class="label">Last Name</span>
                            <input id="lName" placeholder="Last Name">
                        </div>
                        <div class="info-item">
                            <span class="label">Contact Number</span>
                            <input id="contact" placeholder="0999234****">
                        </div>
                        <div class="info-item">
                            <span class="label">Email Address</span>
                            <input id="email" placeholder="email@dlsu.edu.ph">
                        </div>
                        <div class="info-item">
                            <span class="label">ID #</span>
                            <input id="id-number" placeholder="121*****">
                        </div>
                        <div class="info-item password">
                            <button id="gen-pass" class="label">Generate Password</button>
                            <input readonly id="password" value="">
                        </div>
                    </div> 
                    <div class="footer">
                        <a class="add-user" href="#" id="submit-form">Add User</a>
                        <a class="cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class = "container">
    <h2>Members</h2>
    <!--Add User and Pending Reports Buttons-->
    <div class="add-user-container">
        <button id="add-user-btn">Add User</button>
        <button class="pending-reports-btn">
            Pending Reports
        </button>
    </div>

    <div class = "main-content-container">
        <div class="list-search-container">
            <div class="search-container">
                <input placeholder="Find by name">
                <div class="search-btn">
                    Search
                </div>
                <select name="id" id="id-num">
                    <option value="0">Select</option>
                    <option value="123">123</option>
                    <option value="122">122</option>
                </select>
                <select name="position" id="position">
                    <option value="position">Position</option>
                    <option value="officer">Officer</option>
                </select>
                <select name="status" id="status">
                    <option value="status">Status</option>
                    <option value="cleared">Cleared</option>
                </select>
            </div>

            <div class="list-container">
                <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each member-list}}
                            <tr>
                                <td>{{lastname}}, {{firstname}}</td>
                                <td>{{email}}</td>
                                <td>{{position}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="info-container">
                <div class="profile-card">
                    <div class="left-profile-card">
                        <div class="profile-image">
                            <span class="emoji"><img src="images/Avatar.svg"></span>
                        </div>
                        <div class="profile-info">
                            <span><h3>aaaaa, aaaa</h3></span>
                            <p>Member</p>
                        </div>
                    </div>

                    <div class="edit-btn">
                            Edit
                    </div>
                </div>

                <div class="profile-body">
                    <div class="profile-details">
                        <div class="info-item">
                            <span class="label">Contact Number:</span>
                            <span class="value" id="contact-number">0917-xxx-xxxx</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Email:</span>
                            <span class="value" id="email">dlsuemail@dlsu.edu.ph</span>
                        </div>
                        <div class="info-item">
                            <span class="label">ID #:</span>
                            <span class="value" id="id-number">122xxxxx</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Events Attended:</span>
                            <span class="value" id="events-attended">2</span>
                        </div>
                        <div class="info-item">
                            <span class="label">Last Event Attended:</span>
                            <span class="value green" id="last-event">Google Dev Fest</span>
                        </div>
                    </div>
                    <div class="footer">
                        <a class="delete-user" id="delete-user">Delete User</a>
                        <a href="#" class="blacklist" id="make-report">Make Report</a>
                    </div>
                </div>
                
            </div>
        </div>

        
    </div>
</div>
