body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #2C2C2B;
    color: #E1E1E1;
    height: 100vh;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px; /* Add padding to accommodate the fixed top-nav */
}

/* Header */
.header {
    color: #2C2C2B;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; /* 30px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1E1E1;
    padding: 10px 20px;
}

/* Content Area */
.content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 10px;
    color: #2C2C2B;
    width: 100%;
    min-height: 500px;
}

/* Warnings Tracker */
.warnings-tracker {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    gap: 17px;
}

/* Profile Card */
.profile-card {
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.left-profile-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-info h3 {
    margin: 0;
    font-size: 16px;
    color: #2C2C2B;
}

.profile-info p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.edit-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    height: 70%;
    cursor: pointer;
    border-radius: 5px;
}

/* Profile Body */
.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Profile Details */
.profile-details {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 12px;
}

.info-item {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 18px 0 5px 0;
    border-bottom: 1px solid #ccc;
}

.info-item .label {
    font-weight: bold;
}

.info-item .value {
    text-align: right;
}

.info-item .value.pending {
    color: #900;
    font-weight: bold;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 15px;
}

.makeReport, .save-changes, .discard-changes {
    color: black;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.discard-changes {
    color: #900;
}

.profile-details .info-item input {
    height: 16px;
    text-align: right;
    padding: 6px 10px;
}

/* Warnings List */
.warnings-list {
    color: #E1E1E1;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.warnings-list table {
    width: 100%;
    border-collapse: collapse;
}

.warnings-list th, .warnings-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.warnings-list th{
    cursor:default
}

.warnings-list .status-icon {
    font-size: 20px;
}

.status-icon {
    border-radius: 50px;
    height: 16px;
    width: 16px;
    margin-left: 18px;
}

.green {
    background-color: rgb(19, 145, 19);
}

.orange {
    background-color: orange;
}

/* Warning Tables and Details */
.warning-table, .warning-details {
    padding: 25px 25px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
    max-height: 50%;
    overflow-y: auto; /* Add vertical scroll */
}

.warning-table {
    height: 55%;
    padding-top: 20px;
}

.warning-details {
    height: 50%;
    margin-top: 20px;
}

.warning-details h3 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.warning-details p {
    margin: 0;
    color: #666;
    font-size: 16px;
}

