body
{
    margin: 0;
    background-color: #2C2C2B;
    color: #E1E1E1;
    font-family: "Inter", sans-serif;
    display: flex;
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
}

/*Style for Title in Main Page*/
.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mms-container
{
    padding-top: 45px;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
}

.mms-title
{
    color: #E1E1E1;
    font-size: 64px;
    font-weight: 700;
    word-wrap:break-word;
    text-align: center;
    width:50%;
}

.welcome-title
{
    color: #828282;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
}

/*Style of Main Buttons in landing page*/
.main-btn-container
{
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 36px;
    display: inline-flex;
    flex-direction: row;
    gap: 7%;
    justify-content: center;
}

.events-btn-container, .members-btn-container
{
    background-color: #E1E1E1;
    color: black;
    width: 419px;
    height: 343px;
    border-radius: 2%;
    font-size: 40px;
    font-weight: 600;
    padding-top: 34px;
    padding-left: 34px;
    padding-bottom: 22px;
    overflow: hidden;
}

.events-btn-container:hover, .members-btn-container:hover {
    color: rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.7); 
}

.events-btn-container {
    background-image: url("../images/watermelon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.members-btn-container {
    background-image: url("../images/pear.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.officers-btn-container:hover, .events-btn-container:hover, .members-btn-container:hover
{
    cursor:pointer;
    background-color:#eeeeee;
}

a {
    text-decoration: none;
    color: inherit;
}